body{
  font-family: "Times New Roman";
  margin: 0;
  margin-top: 50px;


}

.logo{
  font-size: 40px;
  float: left;
  padding: 20px 40px;



}

.list li{
  list-style: none;
  float: left;
  padding: 33px 20px;



}
.text-2{
  font-size: 60px;
  font-style: italic;
}

header{
  background-color: #00FF7F;
  height: 100px;
  display: flex;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   line-height: 50px;
}
header li{
  margin-left: 20px;
}
.main{
  background-color:  #ceccf3;
  padding: 100px 80px;
  border: 1px solid black;
  text-align: center;
}
span{
  color: red;
}
.profile-pic{
  width: 400px;
  border-radius: 100%;
}
header a{
  color: black;
  text-decoration: none;
}
.project-title{
  color: black;
  text-decoration: none;
}

li{
  list-style: none;
  color: black;
  text-decoration: none;
}
.about{
  font-size: 25px;
}
